.dribblle-icon {
  background-image: url("#{$urlImg}#{$urlIcon}#{$dribblleIcon}");
  width: 24.86px;
  height: 24.86px;
}

.behance-icon {
  background-image: url("#{$urlImg}#{$urlIcon}#{$behanceIcon}");
  width: 25.04px;
  height: 15.66px;
}

.instagram-icon {
  background-image: url("#{$urlImg}#{$urlIcon}#{$instagramIcon}");
  width: 25px;
  height: 25.01px;
}
